.body {
    margin-left: 1rem;
    margin-right: 10rem;
}

p {
    padding: .3rem 0rem .3rem 0rem;
    line-height: 140%;
}

li {
    line-height: 140%;
}

u {
    text-decoration: none;
    border-bottom: 1px solid black;
}

h1 {
    border-bottom: 1px solid grey;
}

h3 {
    margin: 2rem 0rem 2rem 0rem;
}

h2 {
    margin: 2rem 2rem 0rem 0rem;
}

li {
    margin: 1rem;
}

.space {
    height: 0.5rem;
}
